<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    	<sectionGroup name="sejalan.framework">
	    	<section name="cache" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
    		<section name="lookupDataModel" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
		    <section name="formDataModel" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
		    <section name="providerRepository" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core">
			</section>
		</sectionGroup>
  	</configSections>
  	<sejalan.framework>
  		<providerRepository defaultProvider="AppConfig">
  			<providers>
  				<add name="AppConfig" type="Sejalan.Framework.Provider.AppConfig.ProviderRepository, Sejalan.Framework.Core"></add>
  			</providers>
  		</providerRepository>
  		<cache defaultProvider="DataModelCache">
  			<providers>
  				<add name="DataModelCache" type="Sejalan.Framework.Cache.Dummy.CacheProvider, Sejalan.Framework.Cache.Dummy"/>
  			</providers>
  		</cache>
  		<lookupDataModel defaultProvider="LookupDataModelTest">
  			<providers>
  				<add name="LookupDataModelTest" type="Sejalan.Framework.LookupDataModel.Xml.LookupDataModelProvider, Sejalan.Framework.LookupDataModel.Xml" 
  					xmlFileName="LookupDataModel.xml" cacheProviderName="DataModelCache" cacheProviderRepositoryName="AppConfig"/>
  			</providers>
  		</lookupDataModel>
	    <formDataModel defaultProvider="FormDataModelTest">
	      	<providers>
	        	<add name="FormDataModelTest" type="Sejalan.Framework.FormDataModel.Xml.FormDataModelProvider, Sejalan.Framework.FormDataModel.Xml" 
	        		xmlFileName="FormDataModel.xml" lookupDataModelProviderName="LookupDataModelTest" lookupDataModelRepositoryName="AppConfig" dataTypeLookupCollectionName="dataType" cacheProviderName="DataModelCache" cacheProviderRepositoryName="AppConfig"/>
	      	</providers>
	    </formDataModel>
    </sejalan.framework>
</configuration>
