<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    	<sectionGroup name="sejalan.framework">
      		<section name="instrumentation" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
      		<section name="providerRepository" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
		</sectionGroup>
  	</configSections>
	  	<sejalan.framework>
	    <instrumentation defaultProvider="TestLogging">
	      <providers>
	        <add name="TestLogging" type="Sejalan.Framework.Instrumentation.SimpleLog.InstrumentationProvider, Sejalan.Framework.Instrumentation.SimpleLog" logFileName="test.log"/>
	      </providers>
	    </instrumentation>
	    <providerRepository defaultProvider="AppConfig">
  			<providers>
  				<add name="AppConfig" type="Sejalan.Framework.Provider.AppConfig.ProviderRepository, Sejalan.Framework.Core"></add>
  			</providers>
  		</providerRepository>
    </sejalan.framework>

</configuration>
