<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    	<sectionGroup name="sejalan.framework">
    		<section name="cache" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
    		<section name="lookupDataModel" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
    		<section name="dataContext" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
		    <section name="providerRepository" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
		</sectionGroup>
  	</configSections>
  	<connectionStrings>
    		<add name="Test" connectionString="DbLinqProvider=Sqlite;Data Source=ProviderTest.s3db;Version=3;" providerName="System.Data.SQLite"/>
  	</connectionStrings>
  	<sejalan.framework>
  		<dataContext defaultProvider="ProviderDataContext">
	      <providers>
	        <add name="ProviderDataContext" type="Sejalan.Framework.Provider.Data.DbLinq.Sqlite.ProviderDataContextProvider, Sejalan.Framework.Provider.Data.DbLinq.Sqlite" connectionStringName="Test" databaseSchema="Test" databaseId="Sqlite"/>
	      </providers>
	    </dataContext>
	    <providerRepository defaultProvider="AppConfig">
  			<providers>
  				<add name="AppConfig" type="Sejalan.Framework.Provider.AppConfig.ProviderRepository, Sejalan.Framework.Core"></add>
  				<add name="SqliteConfig" type="Sejalan.Framework.Provider.Data.DbLinq.Sqlite.ProviderRepository, Sejalan.Framework.Provider.Data.DbLinq.Sqlite" dataContextProviderName="ProviderDataContext" dataContextProviderRepositoryName="AppConfig"></add>
  			</providers>
  		</providerRepository>
  		<cache defaultProvider="DataModelCache">
  			<providers>
  				<add name="DataModelCache" type="Sejalan.Framework.Cache.Dummy.CacheProvider, Sejalan.Framework.Cache.Dummy"/>
  			</providers>
  		</cache>
  		<lookupDataModel defaultProvider="LookupDataModelTest">
  			<providers>
  				<add name="LookupDataModelTest" type="Sejalan.Framework.LookupDataModel.Xml.LookupDataModelProvider, Sejalan.Framework.LookupDataModel.Xml" 
  					xmlFileName="LookupDataModel.xml" cacheProviderName="DataModelCache" cacheProviderRepositoryName="AppConfig"/>
  			</providers>
  		</lookupDataModel>
	</sejalan.framework>
</configuration>
