<configuration>
	<configSections>
    	<sectionGroup name="sejalan.framework">
      		<section name="dataContext" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
      		<section name="providerRepository" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
		</sectionGroup>
  	</configSections>
	<connectionStrings>
    		<add name="Test" connectionString="DbLinqProvider=Sqlite;Data Source=Test.s3db;Version=3;" providerName="System.Data.SQLite"/>
  	</connectionStrings>
  	<sejalan.framework>
	    <dataContext defaultProvider="TestDataContext">
	      <providers>
	        <add name="TestDataContext" type="Sejalan.Framework.Data.DbLinq.Sqlite.Test.TestDataContextProvider, Sejalan.Framework.Data.DbLinq.Sqlite.Test" connectionStringName="Test" databaseSchema="Test" databaseId="Sqlite"/>
	      </providers>
	    </dataContext>
	    <providerRepository defaultProvider="AppConfig">
  			<providers>
  				<add name="AppConfig" type="Sejalan.Framework.Provider.AppConfig.ProviderRepository, Sejalan.Framework.Core"></add>
  			</providers>
  		</providerRepository>
    </sejalan.framework>
</configuration>