<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    	<sectionGroup name="sejalan.framework">
    		<section name="cache" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core"/>
    		<section name="providerRepository" type="Sejalan.Framework.Provider.AppConfig.ProviderConfigurationSectionHandler, Sejalan.Framework.Core">
			</section>
		</sectionGroup>
  	</configSections>
  	<sejalan.framework>
  		<providerRepository defaultProvider="AppConfig">
  			<providers>
  				<add name="AppConfig" type="Sejalan.Framework.Provider.AppConfig.ProviderRepository, Sejalan.Framework.Core"></add>
  			</providers>
  		</providerRepository>
  		<cache defaultProvider="DataModelCache">
  			<providers>
  				<add name="DataModelCache" type="Sejalan.Framework.Cache.Dummy.CacheProvider, Sejalan.Framework.Cache.Dummy"/>
  			</providers>
  		</cache>
	</sejalan.framework>
</configuration>
